.category-wrap {
    z-index: 10  ;
    position: absolute;
    top: 20%;
    padding: 15px;
    background-image: url("../source/blackoverlay-darker.png");
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.category-wrap h3 {
    font-size: 16px;
    color: rgba(256,256,256,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
    text-decoration: none;
    display: block;
    font-size: 13px;
    color: rgba(256,256,256,0.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
}

.category-wrap a:hover {
    background: #666666;
    color: white;
}

.subMenu {
    position: absolute;
    /*top: auto;*/
    left: 100%;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    transform: translate(0%, -37px)
}

.topMenu .subMenu {
    visibility: hidden;
    opacity: 0;
    background-image: url("../source/blackoverlay-darker.png");
    padding-bottom: 13px;
}

.topMenu ul li:hover .subMenu {
    visibility: visible;
    opacity: 1;
}

.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 175px;
    background-image: url("../source/blackoverlay-darker.png");
    top: 140px;
    left: -200px;
    transition: left .2s;
    z-index: 8;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #000000;
    background-color: #666666;
    padding: 5px;
    position: fixed;
    top: 145px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 10;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu span {
    display: block;
    height: 5px;
    background-color: #000000;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    left: 135px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}