body {
    margin: 0;
}

.mainBackground {
    background: url(../source/backgrounds/main.png) repeat fixed;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
}

.grid{
    display: block;
    background: url(../source/pixel.png);
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
 }

.heading{
    display: block;
    position: absolute;
    width: 100%;
    top: 1.5rem;
    z-index: 3;
}

.headingHeight{
    height: 75px;
}

.leftHeading{
    flex: none;
    width: 175px;
    background: #000000;
    margin-right: 9px;
}

.centerHeading{
    flex: none;
    background: #000000; /* Цвет фона под заголовком */
    width: 650px;
    position: relative;
    padding: 0px;
}

.rightEndlessHeading{
    width: 100%;
    background: #000000;
    margin-left: 9px;
}

.centerHeading h1{
    background: #000000;
    color: #000000; /* Цвет текста */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 64.3%;
    position: absolute;
    top: 90%;
    right: 0;
    margin: 0 0 0 0;
    transform: translate(0%, -50%);
}

.centerHeading logo{
    color: #FFFFFF; /* Цвет текста */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 47px;
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 10px 0 0;
    z-index: 3;
    transform: translate(0%, -50%);
}
.centerHeading img{
    user-select: none;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 0 0 6px;
    z-index: 3;
    transform: translate(0%, -50%);
}

.message {
    display: block;
    /*background: rgba(0, 0, 0, 0.88);*/
    background-image: url("../source/blackoverlay-darker.png");
    /*background-image: url("../source/blackOverlay.png");*/
    color: #FFFFFF; /* Цвет текста */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 250px;
    z-index: 3;
    transform: translate(0, -50%);
}

.message h2 {
    margin: 11px 0 11px 0;
}

.message p{
    padding: 0 9%;
    font-size: 18px;
    margin: 0 150px 0 150px;
}

.round {
    border-radius: 6px; /* Радиус скругления */
}

.roundOnlyRight{
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.roundOnlyLeft{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.roundOnlyBottom{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.column{
    display: flex;
    align-self: flex-start;
}

.inline{
    display: inline-flex;
    align-self: flex-start;
}

.inline_right{
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
}

.TopPanelSocial{
    display: block;
    background-image: url("../source/blackoverlay-darker.png");
    color: #FFFFFF; /* Цвет текста */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 111px;
    left: 20.5px;
    z-index: 3;
    transform: translate(0%, -50%)
}

.LeftPanelSocial{
    display: block;
    background-image: url("../source/blackoverlay-darker.png");
    color: #FFFFFF; /* Цвет текста */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 0px;
    z-index: 3;
    transform: translate(0%, -50%)
}

.RightPanelSocial{
    display: block;
    background-image: url("../source/blackoverlay-darker.png");
    color: #FFFFFF; /* Цвет текста */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 30%;
    right: 0px;
    z-index: 3;
    transform: translate(0%, -50%)
}

.banners{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 9%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0%)
}

.banner{
    /*flex: 1 1 auto;*/
    margin: 0 25px;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #FFFFFF; /* Цвет текста */
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.message contacts a:hover {
    text-decoration: underline; /* Добавляем подчеркивание */
}

::selection {
    color: #333333; /* Цвет текста */
    background: #FFFFFF; /* Цвет фона */
}

.no_select{
    user-select: none;
}


img{
    padding: 1px 2px;
    vertical-align: bottom;
}


.copyright{
    display: block;
    background: #000000; /* Цвет фона под заголовком */
    width: 100%;
    position: absolute;
    bottom: 3%;
    margin: 0;
    padding: 6px 0;
    font-size: 14px;
    z-index: 3;
}

.copyright p {
    text-align: center;
    color: #FFFFFF; /* Цвет текста */
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

.copyright uppercase {
    text-transform: uppercase;
}